@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "variables";

.btn-link,
.btn-link:focus,
.btn-link:hover {
  text-decoration: none;
}

.btn,
button {
  box-shadow: none !important;
  background-color: white !important;
  // transition: none;

  &.disabled {
    &:active,
    &:focus,
    &:hover {
      color: $gray-800;
      box-shadow: none !important;
      background-color: white;
    }
  }

  &.btn-outline-secondary {
    border-color: lighten($secondary, 10%) !important;
    // border-color: $secondary;
    color: $secondary;

    &.hover,
    &:hover {
      // border-color: $secondary;
      border-color: darken($secondary, 10%) !important;
      color: darken($secondary, 10%);
      // color: $primary;
    }

    &.active,
    &:active {
      background-color: $gray-200 !important;
      border-color: darken($secondary, 12%) !important;
      color: darken($secondary, 20%) !important;
      // border-color: darken($link-hover-color, 10%) !important;
      // color: darken($link-hover-color, 10%) !important;
    }
  }
}

.btn,
button,
input[type=submit] {
  cursor: pointer !important;

  &.disabled,
  &:disabled {
    cursor: default !important;
  }
}

.btn-group-xs > .btn,
.btn.btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
