@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "variables";

.btn-group-xs > .btn,
.btn.btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

a.btn {
  text-decoration: none !important;
}

a.btn-link:active,
a.btn-link:focus,
a.btn-link:focus,
a.btn-link:visited {
  text-decoration: none;
}

.btn,
button {
  box-shadow: none !important;
  background-color: white !important;
  // transition: none;
  &.disabled {
    &:active,
    &:focus,
    &:hover {
      color: $gray-800;
      box-shadow: none !important;
      background-color: white;
    }
  }

  &.btn-outline-primary {
    transition: none;
    border-color: #378fe7!important;
    color: #1976d2;

    &:hover {
      border-color: darken($primary, 5%) !important;
      color: darken($primary, 4%) !important;
    }
  }

  &.btn-outline-secondary {
    border-color: $secondary !important;
    color: darken($secondary, 5%) !important;

    &.active,
    &.hover,
    &:active,
    &:hover {
      border-color: darken($secondary, 12%) !important;
      color: darken($secondary, 15%) !important;
    }
  }
}

.btn-vertical {
  height: 100px;
}

.btn.btn-context {
  // background-color: darken($gray-100, 5%) !important;
  background-color: $footer-color !important;
}

.btn,
button,
input[type=submit] {
  cursor: pointer !important;

  &.disabled,
  &:disabled {
    cursor: default !important;
  }
}
@include media-breakpoint-down(xs) {
  .btn-xs-block {
    display: block;
    width: 100%;
  }
}

.navbar-toggler {
  outline: none;
}


.control-flipPage-left,
.control-flipPage-right {
  top: 200px;
  position: absolute;
  z-index: 100;
}

.control-flipPage-right {
  right: 0;
  .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
  }
}

.control-flipPage-left {
  left: 0;
  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
  }
}
