@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "variables";

.btn-vertical {
  height: 100px;
}

.control-flipPage-left,
.control-flipPage-right {
  top: 200px;
  top: 40vh;
  position: absolute;
  z-index: 100;
}

.control-flipPage-right {
  right: 0;
}

.control-flipPage-left {
  left: 0;
}

@include media-breakpoint-down(md) {
  .control-flipPage-right {
    .btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-width: 0;
    }
  }
  .control-flipPage-left {
    .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-width: 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  .control-flipPage-left{
    left: 30px;
  }
  .control-flipPage-right {
    right: 30px;
  }
}
@include media-breakpoint-up(xl) {
  .control-flipPage-left{
    left: 50px;
  }
  .control-flipPage-right {
    right: 50px;
  }
}
@include media-breakpoint-up(xxl) {
  .control-flipPage-left{
    left: 120px;
  }
  .control-flipPage-right {
    right: 120px;
  }
}
