@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "page";
@import "btns";
@import "utils";
@import "animation";

.nnn {
  color: red;
}



#logo {
  // position: absolute;
  padding: 5px 10px;
  .title {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 2em;
    color: white;
    color: #0475dc;
    // background-color: #0475dc;
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
}
