@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "variables";

@import "page";
@import "btns";

@import "node_modules/bootstrap/scss/bootstrap";

.btn-link, .btn-link:hover, .btn-link:focus {
  text-decoration: none;
}
@import "variables";

.text-primary {
  color: $primary !important;
}


$btn-box-shadow: inset 0 4px 5px rgba($white, .15), 0 1px 5px rgba($black, .075);
