@import "page";
@import "btns";
@import "variables";


.btn-link, .btn-link:hover, .btn-link:focus {
  text-decoration: none;
}


button, .btn {
  &, &.disabled {
    &:hover, &:active, &:focus {
      color: $gray-800;
      box-shadow: none !important;
    }
  }
}
