#logo {
  min-height: 100px;
  animation: logo-grow 400ms ease-in;
  animation: logo-grow 400ms ease-in, logo-appear 600ms ease-in; }

@keyframes logo-grow {
  0% {
    transform: scale(0, 0); }
  100% {
    transform: scale(1, 1); } }

@keyframes logo-appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#cv-container {
  animation: cv-enter 1400ms ease-out, cv-appear 1400ms ease-out; }

@keyframes cv-enter {
  0% {
    transform: translate(0, 5px); }
  60% {
    transform: translate(0, 5px); }
  100% {
    transform: translate(0, 0); } }

@keyframes cv-appear {
  0% {
    opacity: 0; }
  60% {
    opacity: 0; }
  95% {
    opacity: 1; } }

.appear {
  animation: appear 800ms ease-in; }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#footer {
  animation: footer-appear 500ms ease-out; }

@keyframes footer-appear {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
