#cv-container {
  animation: cv-enter 800ms ease-out, cv-appear 400ms ease-in; }

#logo {
  min-height: 100px;
  animation: cv-enter 800ms ease-out, cv-appear 400ms ease-in; }

@keyframes cv-enter {
  0% {
    transform: translate(-8px, 0); }
  100% {
    transform: translate(0, 0); } }

@keyframes cv-appear {
  0% {
    opacity: 0; }
  95% {
    opacity: 1; } }

#footer {
  animation: footer-appear 500ms ease-out; }

@keyframes footer-appear {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.anim-grow {
  animation: anim-grow 300ms ease-in; }

.anim-enter {
  animation: anim-appear 500ms ease-in, anim-enter 500ms ease-in; }

.anim-appear {
  animation: anim-appear 500ms ease-in; }

@keyframes anim-enter {
  0% {
    transform: translate(7px, 0); }
  100% {
    transform: translate(0, 0); } }

@keyframes anim-appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes anim-grow {
  0% {
    transform: scale(0, 0); }
  100% {
    transform: scale(1, 1); } }
