#root,
#root > div,
.App,
body,
html {
  height: 100%;
  min-height: 100%; }

body {
  background-color: white; }

.cv-header {
  border-bottom: 1px solid #ededed; }

#cv-container h3 {
  font-size: 1.6em; }

footer#footer {
  font-size: 0.9em;
  border-top: 1px solid #ededed;
  background-color: #f5f5f5;
  z-index: 10; }
  footer#footer > div {
    min-height: 60px; }

.row {
  margin-bottom: 8px; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold; }

#logo-title {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 2em; }

#bootstrap-grid-util {
  left: 20px;
  color: #ced4da;
  display: none; }

::selection {
  background: #ffdc72;
  color: #654c2b; }

.text-primary::selection,
.text-primary span::selection, .text-secondary::selection,
.text-secondary span::selection {
  color: #8a6b2d; }
