#root,
.App,
body,
html {
  height: 100%;
  min-height: 100%; }

body {
  background-color: white; }

.cv-container {
  padding-top: 30px;
  padding-bottom: 30px; }
  .cv-container h3 {
    font-size: 1.6em; }
  @media (max-width: 575.98px) {
    .cv-container {
      padding-top: 0px;
      margin-top: -30px; } }

footer#footer {
  border-top: 1px solid #ededed;
  background-color: #f5f5f5;
  z-index: 10; }
  footer#footer > div {
    height: 60px; }

#bootstrap-grid-util {
  left: 20px;
  color: #f5f5f5; }

.row {
  margin-bottom: 8px; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold; }
