.text-primary {
  color: $primary !important;
}
.text-secondary {
  color: $secondary !important;
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate-x {
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.rotate-y {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.d-print-only {
  display: none;
}
@media print {
  .d-print-block {
    display: block;
  }

  .d-print-none {
    display: none;
  }
}
